<?xml version="1.0" encoding="UTF-8" standalone="no"?><configuration debug="true">
    <appender class="net.kencochrane.raven.logback.SentryAppender" name="Sentry">
        <dsn>http://96601c91dbd542d4b1de51df86f8e063:9e8cc2fee00445eab26a21c62627b486@sentry.databerries.com/7</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>net.kencochrane.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>
    <root level="warn">
        <appender-ref ref="Sentry"/>
    </root>
</configuration>